body{
    font-family: Roboto;
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    align-items: center;
   
    padding: 0px 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.749);
    background-color: black;
    
}
nav{
    display: flex;
    align-items: center;
}


.info{
    display: none;
    position: relative;
    
}
.research:hover .info{
    display: block;
    position: relative;
    background-color: rgba(240, 248, 255, 0.467);
    left: 1;
    right: 0;
    top: 0;
    z-index: 1;
    color: black;
    width: 200px;
}

nav a{

text-decoration: none;
color: aliceblue;
padding-left: 30px;
   
}

section{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    align-items: center;
    padding: 0px 100px;
    background-color: black;
  
}

.nav a{
text-decoration: none;
color: rgb(130, 131, 131);
padding-left: 20px;
font-size: 16px;
}


.nav a:hover{
    color: aliceblue;
}

main{
    color: aliceblue;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    height: 35vh;
    justify-content: center;
    margin-top: 50px;
}
main h5{
    font-family: sans-serif;
}

main h2{
    font-size: 50px;
    text-align: center;
    font-weight: 20px;
    text-wrap: nowrap;
    text-overflow: clip;
    margin-top: 0;
    margin-bottom: 0px;
    font-family: sans-serif;
}
p{
  
    text-align: center;
    margin-top: 0;
    text-wrap: nowrap;
    margin: auto;
}

footer{
    display: grid;
    grid-template-columns: 100px 200px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    align-items: center;
    margin-top: 0;
}

button{
   background-color: aliceblue;
   border: none;
   width: 145px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 0;
   border-radius: 500px;

}

button img{
    width: 20px;
}

button a{
    display: block;
    padding: 16px;
    font-size: 12;
    text-decoration: none;
    color: black;
    
}

.download{
    text-align: center;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.download img{
    width: 25px;
}

.download a{
    color: aliceblue;
    text-decoration: none;

}

.download a:hover{
    text-decoration: underline;
}

button a:hover{
    text-decoration: underline;
}

.searchbar{
    display: flex;

}

.searchbar:hover input{
    display: block;
    padding-bottom: 16px;
}

.searchbar:hover img{
    display: none;
}

input{
display: none;
}


